@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Head {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1110px;
}

.Head-title {
    font-size: 25px;
    font-weight: 700;
}

.Head-title a{
    color: #101010;
    text-decoration: none;
}

.Head-buttons{
    display:flex;
    flex-direction: row;
    margin-right: 17px;
}

.Head-buttons-favorites svg{
    margin-right: 45px;
    cursor: pointer;
    color : #838383;
    transition: color 0.3s;

}

.Head-buttons-favorites svg:hover{
    color: white;
}

.Head-buttons-cart svg{
    color : #838383;
    transition: color 0.3s;

}

.Head-buttons-cart svg:hover{
    color: white;
}


@media (max-width: 1197px) {
    .Head {
        width: 900px;
    }
}

@media (max-width: 1025px) {
    .Head{
        height: 85px;
    }
    .Head-title{ 
        font-size: 40px;
    }
    .Head-buttons svg{
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 945px) {
    .Head {
        width: 750px;
    }
}

@media (max-width: 769px) {
    .Head {
        width: 90%;
    }
}